extends layout

block content
  h2 About
  p build-static allows you to define a set of routes that can be either served dynamically (e.g. in development) or built to static files (e.g. in production)
  p
    a(href="/") Home